<div fxLayout="row wrap" style="margin-top:10%;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
    <mat-card style="width:500px;">
      <mat-card-title align="center">Sign Up</mat-card-title>

      <mat-card-content align="center" style="width:100%;">
        <form [formGroup]="formData" (ngSubmit)="onclick(formData)">
          <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <mat-form-field style="width:70%;" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
              <input matInput placeholder="Enter Your Full Name" required formControlName="name">
              <mat-error align="start" *ngIf="name.hasError(&apos;required&apos;)">name is required</mat-error>
              <mat-label>Name</mat-label>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <mat-form-field style="width:70%;" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
              <input matInput placeholder="Enter Valid Email-id" required formControlName="email">
              <mat-error align="start" *ngIf="email.hasError(&apos;required&apos;)">please enter Email-id</mat-error>
              <mat-error align="start" *ngIf="email.hasError(&apos;email&apos;)">please enter the valid email</mat-error>
              <mat-label>Email</mat-label>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <mat-form-field style="width:70%;" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
              <input matInput type="password" placeholder="Set Password" required formControlName="password">
              <mat-error align="start" *ngIf="formData.controls.password.errors">Password must be at least 6 characters</mat-error>
              <mat-label>Password</mat-label>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <mat-form-field style="width:70%;" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
              <input matInput placeholder="Conform Password" required formControlName="confirmPassword">
              <mat-label>Conform Password</mat-label>
            </mat-form-field>
          </div><button mat-raised-button color="primary" type="submit">Sign-Up</button><button mat-raised-button style="margin-left:10px;" color="primary">Cancel</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>