<mat-card>
  <mat-card-title>Card Title</mat-card-title>

  <mat-card-subtitle>Card Sub-Title</mat-card-subtitle>

  <img mat-card-image artImgSrc alt="image.............">

  <mat-card-content></mat-card-content>

  <mat-card-actions></mat-card-actions>
</mat-card>