<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <mat-toolbar color="primary" class="mat-elevation-z8">
    <div fxLayout="row wrap" style="width:100%" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false"><button mat-raised-button style="margin-left:10px;" routerLink="image">Home</button><button mat-raised-button style="margin-left:10px;" routerLink="/homepage/new">New</button><button mat-raised-button style="margin-left:10px;">Search Books</button></div>
    <div fxLayout="row wrap" style="margin-left:10px;" fxLayoutAlign="end stretch" [fxShow]="true" [fxHide]="false"><button mat-raised-button style="margin-left:10px;" routerLink="/homepage/login">Sign-in</button></div>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <mat-menu #menu="matMenu"><button mat-menu-item> My Profile </button><button mat-menu-item> Return books </button></mat-menu><button mat-button [matMenuTriggerFor]="menu">My Account</button>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-raised-button style="margin-left:10px;" routerLink="/homepage/register">Sign-up</button></div>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>