<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <h3>
    <h3>Top</h3>
  </h3>
  <div fxLayout="row " class="carrow" fxFlex="100" fxLayoutAlign="space-around start" [fxShow]="true" [fxHide]="false" ngClass.gt-xs="carrow">
    <div fxLayout="row wrap" fxFlex="8" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false" fxFlex.xs="13">
      <div fxLayout="column " style="height: 300px" fxFlex="8" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false" fxFlex.xs="8"><button mat-mini-fab class="arrow-color" (click)="changeDataSet(-1)">
          <mat-icon>
            <mat-icon>keyboard_arrow_left</mat-icon>
          </mat-icon>
        </button></div>
    </div>
    <div fxLayout="column " fxFlex="90" fxLayoutAlign=" " [fxShow]="true" [fxHide]="false" *ngFor="let row of dataSet.slice(0,limitImage);let i=index;">
      <div fxLayout="column " style="height: 300px; max-width: 300px" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><img imgSrc="{{row.imgSrc}}" style="max-width:90%; max-height:70%" (click)="getimage(row)"></div>
    </div>
    <div fxLayout="row wrap" fxFlex="8" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false" fxFlex.xs="13">
      <div fxLayout="column " style="height: 300px" fxFlex="5" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false" fxFlex.xs="8"><button mat-mini-fab class="arrow-color" (click)="changeDataSet(1)">
          <mat-icon>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </mat-icon>
        </button></div>
    </div>
  </div>
  <h3>
    <h3>New</h3>
  </h3>
  <div fxLayout="row " class="carrow" fxFlex="100" fxLayoutAlign="space-around start" [fxShow]="true" [fxHide]="false" ngClass.gt-xs="carrow">
    <div fxLayout="row wrap" fxFlex="8" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false" fxFlex.xs="13">
      <div fxLayout="column " style="height: 300px" fxFlex="8" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false" fxFlex.xs="8"><button mat-mini-fab class="arrow-color" (click)="changenewDataSet(-1)">
          <mat-icon>
            <mat-icon>keyboard_arrow_left</mat-icon>
          </mat-icon>
        </button></div>
    </div>
    <div fxLayout="column " fxFlex="90" fxLayoutAlign=" " [fxShow]="true" [fxHide]="false" *ngFor="let row of newdataset.slice(0,limitImage);let i=index;">
      <div fxLayout="column " style="height: 300px; max-width: 300px" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><img imgSrc="{{row.imgSrc}}" style="max-width:90%; max-height:70%" (click)="getimage(row)"></div>
    </div>
    <div fxLayout="row wrap" fxFlex="8" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false" fxFlex.xs="13">
      <div fxLayout="column " style="height: 300px" fxFlex="5" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false" fxFlex.xs="8"><button mat-mini-fab class="arrow-color" (click)="changenewDataSet(1)">
          <mat-icon>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </mat-icon>
        </button></div>
    </div>
  </div>
</div>