<div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
  <mat-card style="width:50%;margin-top:30px;">
    <mat-card-content align="center">
      <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><img imgSrc="{{data.imgSrc}}" style="max-width:30%; max-height:15%">
        <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
          <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
            <input matInput [(ngModel)]="data.bookid" placeholder="Book Id" required>

          </mat-form-field>
          <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
            <input matInput [(ngModel)]="data.bookname" placeholder="Bookname" required>

          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><button mat-button>Get Book</button><button mat-button routerLink="/homepage/image">cancel</button></div>
    </mat-card-actions>
  </mat-card>
</div>