<div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
    <mat-card style="margin-top:50%;">
      <mat-card-title>Get Password</mat-card-title>

      <mat-card-content align="center">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
            <input matInput [(ngModel)]="email" placeholder="Enter Registered Email-Id " required>

          </mat-form-field>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-raised-button color="primary" (click)="sendpasswordtoemail(email)">Send</button><button mat-raised-button style="margin-left:20px" color="primary">Cancel</button></div>
      </mat-card-content>

      <mat-card-actions></mat-card-actions>
    </mat-card>
  </div>
</div>