<div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <mat-card>
      <mat-card-title>Add Books Here</mat-card-title>

      <mat-card-content>
        <form [formGroup]="bookDetails" (ngSubmit)="onAddBook(bookDetails.value)">
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
              <input matInput type="number" placeholder="Book-id" required formControlName="bookid">

            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
              <input matInput placeholder="Auther name" required>

            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <n-file-upload [uploadOptions]="uploadOptions" (onsuccess)="onSuccess()" formControlName="fileupload"></n-file-upload>
          </div>
          <div fxLayout="row wrap" style="margin-top:10px;" fxLayoutAlign="end stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-raised-button color="primary" type="submit">Add</button></div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-raised-button>Cancel</button></div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>