<div fxLayout="row wrap" style="margin-top:10%;" fxLayoutAlign="space-around stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" fxLayoutAlign="space-between stretch" [fxShow]="true" [fxHide]="false">
    <mat-card style="width:400px;height:400px;">
      <mat-card-title align="center">Account Login</mat-card-title>

      <mat-card-content align="center" style="width:400px;height:100px;">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)">
          <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
              <input matInput placeholder="email" required formControlName="email">
              <mat-error align="start" *ngIf="loginForm.controls[&apos;email&apos;].touched">please enter the email</mat-error>
              <mat-error align="start" *ngIf="loginForm.controls[&apos;email&apos;].email">valid</mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
              <input matInput type="password" placeholder="Password" required formControlName="password">
              <mat-error align="start" *ngIf="loginForm.controls[&apos;password&apos;].touched">password is required</mat-error>
              <mat-error align="start" *ngIf="loginForm.controls[&apos;password&apos;].minLength">password1</mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false"><button mat-raised-button color="primary" type="submit">Login</button><button mat-raised-button style="margin-left:10px;" color="primary">Cancel</button></div>
          <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
            <mat-error align *ngIf="showmsg"> please enter the Valid Credentials</mat-error>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
            <div>
              <p>Forgot <a routerLink="/password">Password?</a></p>
              <p>Create New Account <a routerLink="/register">Register</a></p>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>