<div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <mat-tab-group mat-align-tabs="start">
      <mat-tab label="Home">
        <div>
          <bh-images></bh-images>
        </div>
      </mat-tab>
      <mat-tab label="New"></mat-tab>
      <mat-tab label="Search Books"></mat-tab>
      <mat-tab label="Account"></mat-tab>
    </mat-tab-group>
  </div>
</div>